body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
}

h1 {
    color: #4CAF50;
    font-size: 36px;
}

h2 {
    color: #555;
    font-size: 24px;
}

#votingStatusMessage {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

#results {
    list-style-type: none;
    padding: 0;
}

    #results li {
        margin: 5px 0;
        font-size: 18px;
    }
