.header {
  position: relative;
  z-index: 1001;
  margin-top: var(--preview-height, 0px) !important;
  margin-bottom: -1px;
}

.header--menu-opened,
.header--sticky {
  top: var(--header-transform, 0px);
  left: 0;
  right: 0;
	transition: top var(--animation-duration, 200ms) var(--transition-function-ease-out);
}

.header__content--padding-top {
  padding-top: var(--padding-top-mobile, 0px);
}

.header__content--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0px);
}

.nav-tabs .nav-link {
  color: #007bff;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.navbar-nav .nav-link {
  color: black !important; /* Change text color to black */
  font-size: 1rem; /* Increase font size */
  display: block;
  padding: .5rem 1rem
12px
;
}
.header__content-inner {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 0px 8px;
  grid-template-areas:
    "column-2 column-1 column-3";
  align-items: center;
}

.header__mobile-menu-opener-left {
  grid-template-areas:
    "column-2 column-1 column-3";
  margin-left: -8px;
}

.header__mobile-menu-opener-right {
  grid-template-areas:
    "column-1 column-3 column-2";
  margin-right: -8px;
}

.header__logo-wrapper {
  grid-area: column-1;
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo-text {
  font-size: 24px;
  line-height: var(--line-height-md, 1.3333);
  font-weight: var(--font-weight-semibold, 600);
  margin: 0;
  color: currentColor;
}

.header__logo-image {
  max-height: 64px;
  max-width: 200px;
}

.header__nav-wrapper {
  grid-area: column-2;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__mobile-menu-opener-right .header__nav-wrapper {
  margin: 0 0 0 5px;
}

.header__links {
  grid-area: column-3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 15px;
  position: relative;
  height: 100%;
}

.header__search-opener {
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__search-opener svg {
  pointer-events: none;
}

.header__search-opener g {
  transition: all var(--animation-duration, 200ms) var(--transition-function-ease-out);
}

.header__search-wrapper {
  visibility: hidden;
	pointer-events: none;
	margin: 0;
	padding: 0;
	position: absolute;
  top: calc(100% + 8px);
  right: -75px;
	min-width: calc(100vw - 60px);
	opacity: 0;
	transition: visibility var(--animation-duration, 200ms) var(--transition-function-ease-out),
    top var(--animation-duration, 200ms) var(--transition-function-ease-out),
		opacity var(--animation-duration, 200ms) var(--transition-function-ease-out);
  display: block !important;
}

.touch[data-orientation='landscape'] .header__search-wrapper {
  right: -75px;
}

.touch[data-orientation='landscape'] .header__mobile-menu-opener-left .header__search-wrapper {
  right: -25px;
}

.header__search-wrapper form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search-reset {
  position: absolute;
  right: 0;
  top: 50%;
  height: 100%;
  width: 40px;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--border-radius-rounded, 0);
  cursor: pointer;
}

.header__search-reset:after,
.header__search-reset:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  height: 2px;
  width: 18px;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: background var(--animation-duration, 200ms) var(--transition-function-ease-out);
}

.header__search-reset:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header__search-input-wrapper {
  position: relative;
  flex: 1 1 auto;
}

.header__search-input-wrapper .header__search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-65%);
  z-index: 1;
}

.header__search-input {
  min-width: 230px;
  width: 100%;
  padding: 14px 43px;
  font-size: 16px;
  line-height: var(--line-height-sm, 1.2);
  border: 1px solid transparent;
  border-radius: var(--border-radius-rounded, 0);
}

.header__search-input:focus {
  outline: none;
}

.header__search-input::-webkit-search-cancel-button {
  display: none !important;
}

.header__search-input::-webkit-search-decoration {
  display: none;
}

.header__search-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.header__search #search-opener:checked ~ .header__search-wrapper {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.header__cart {
  margin: 0 0 0 20px;
  min-width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__mobile-menu-opener-left .header__search-wrapper {
  right: -26px;
}

.header__mobile-menu-opener-left .header__links:not(.header__links--with-cart) .header__search-wrapper {
  right: 14px;
}

.header__mobile-menu-opener-right .header__links:not(.header__links--with-cart) .header__search-wrapper {
  right: -31px;
}

.loaded .header__search-wrapper {
  display: block !important;
}

header:has(.app-mobile) .header__app:has(.app-desktop) {
  display: none;
}

.header__app:has(.app-mobile) {
  display: flex;
  margin: 18px var(--horizontal-padding, 16px);
}

#section-header .app-mobile .weglot-widget__wrapper {
  border-radius: var(--border-radius-dynamic, 0);
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-header .app-mobile .weglot-widget__wrapper .weglot-widget__label {
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-header .app-mobile .weglot-widget__dropdown {
  left: 0;
  border: 1px solid var(--color-border, #0B1A2626);
  border-radius: var(--border-radius-rounded, 0);
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-header .app-mobile .weglot-widget__dropdown--up {
  top: auto;
  bottom: calc(100% + 11px);
}

#section-header .app-mobile .weglot-widget__dropdown--down {
  bottom: auto;
  top: calc(100% + 11px);
}

#section-header .app-mobile .weglot-widget__dropdown:before,
#section-header .app-mobile .weglot-widget__dropdown:after {
  content: "";
  position: absolute;
  left: 32px;
  transform: translate(-50%, 0);
  width: 0px;
  height: 0px;
  border-style: solid;
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-header .app-mobile .weglot-widget__dropdown--up:before,
#section-header .app-mobile .weglot-widget__dropdown--up:after {
  top: 100%;
  border-width: 10px 10px 0 10px;
}

#section-header .app-mobile .weglot-widget__dropdown--up:before {
  top: calc(100% + 1px);
}

#section-header .app-mobile .weglot-widget__dropdown--down:before,
#section-header .app-mobile .weglot-widget__dropdown--down:after {
  bottom: 100%;
  border-width: 0 10px 10px 10px;
}

#section-header .app-mobile .weglot-widget__dropdown--down:before {
  bottom: calc(100% + 1px);
}

#section-header .app-mobile .weglot-widget__item {
  white-space: nowrap;
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

.palette-one .header__content {
  color: var(--color-primary, #0B1A26);
  background: var(--background-primary, #FFFFFF);
  border-bottom: 1px solid var(--color-border, #0B1A2626);
}

.palette-one .header__search-reset:after,
.palette-one .header__search-reset:before {
  background: var(--color-primary, #0B1A26);
}

.palette-one .header__search-reset:hover:after,
.palette-one .header__search-reset:hover:before {
  background: var(--color-outline-hover, #F4B841CC);
}

.palette-one .header__search-reset:active:after,
.palette-one .header__search-reset:active:before {
  background: var(--color-outline-active, #F4B841BA);
}

.palette-one .header__search-input {
  color: var(--color-primary, #0B1A26);
  background: var(--background-primary, #FFFFFF);
  border-bottom-color: var(--background-accent, #F4B841);
  border-color: var(--background-accent, #F4B841);
}

.palette-one .header__search-input::placeholder {
  color: var(--color-placeholder, #0B1A2659);
}

.palette-one .header__search-input:-webkit-autofill,
.palette-one .header__search-input:autofill {
  box-shadow: inset 0 0 0 150px var(--background-primary, #FFFFFF) !important;
}

.palette-one .header__search-icon g,
.palette-one .header__search-opener g {
  stroke: var(--color-primary, #0B1A26);
}

.palette-one .header__search #search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline, #F4B841);
}

.palette-one .header__search-opener:hover g {
  stroke: var(--color-outline-hover, #F4B841CC);
}

.palette-one .header__search-opener:active g {
  stroke: var(--color-outline-active, #F4B841BA);
}

.palette-one .header__cart .fa-spinner-third {
  color: var(--color-primary, #0B1A26);
}

#section-header .palette-one .app-mobile .weglot-widget__wrapper {
  border-color: var(--color-border, #0B1A2626);
}

#section-header .palette-one .app-mobile .weglot-widget__wrapper:hover {
  border-color: var(--color-outline-hover, #F4B841CC);
}

#section-header .palette-one .app-mobile .weglot-widget__wrapper:active {
  border-color: var(--color-outline-active, #F4B841BA);
}

#section-header .palette-one .app-mobile .weglot-widget__wrapper:hover .weglot-widget__label {
  color: var(--color-outline-hover, #F4B841CC);
}

#section-header .palette-one .app-mobile .weglot-widget__wrapper:active .weglot-widget__label {
  color: var(--color-outline-active, #F4B841BA);
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown {
  border-color: var(--color-border, #0B1A2626);
  box-shadow: 0 0 8px var(--color-border, #0B1A2626);
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown:hover {
  border-color: var(--color-outline-hover, #F4B841CC);
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown:active {
  border-color: var(--color-outline-active, #F4B841BA);
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--up:before,
#section-header .palette-one .app-mobile .weglot-widget__dropdown--up:after {
  border-color: var(--background-primary, #FFFFFF) transparent transparent transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--up:before {
  border-color: var(--color-border, #0B1A2626) transparent transparent transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--up:hover:before {
  border-color: var(--color-outline-hover, #F4B841CC) transparent transparent transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--up:active:before {
  border-color: var(--color-outline-active, #F4B841BA) transparent transparent transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--down:before,
#section-header .palette-one .app-mobile .weglot-widget__dropdown--down:after {
  border-color: transparent transparent var(--background-primary, #FFFFFF) transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--down:before {
  border-color: transparent transparent var(--color-border, #0B1A2626) transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--down:hover:before {
  border-color: transparent transparent var(--color-outline-hover, #F4B841CC) transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--down:active:before {
  border-color: transparent transparent var(--color-outline-active, #F4B841BA) transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__item:hover {
  color: var(--color-outline-hover, #F4B841CC);
}

#section-header .palette-one .app-mobile .weglot-widget__item:active {
  color: var(--color-outline-active, #F4B841BA);
}

.palette-two .header__content {
  color: var(--color-primary-2, #FFFFFF);
  background: var(--background-primary-2, #0B1A26);
  border-bottom: 1px solid var(--color-border-2, #FFFFFF47);
}

.palette-two .header__search-reset:after,
.palette-two .header__search-reset:before {
  background: var(--color-primary-2, #FFFFFF);
}

.palette-two .header__search-reset:hover:after,
.palette-two .header__search-reset:hover:before {
  background: var(--color-outline-2-hover, #F4B841CC);
}

.palette-two .header__search-reset:active:after,
.palette-two .header__search-reset:active:before {
  background: var(--color-outline-2-active, #F4B841BA);
}

.palette-two .header__search-input {
  color: var(--color-primary-2, #FFFFFF);
  background: var(--background-primary-2, #0B1A26);
  border-color: var(--background-accent-2, #F4B841);
}

.palette-two .header__search-input::placeholder {
  color: var(--color-placeholder-2, #FFFFFF59);
}

.palette-two .header__search-input:-webkit-autofill,
.palette-two .header__search-input:autofill {
  box-shadow: inset 0 0 0 150px var(--background-primary-2, #0B1A26) !important;
}

.palette-two .header__search-icon g,
.palette-two .header__search-opener g {
  stroke: var(--color-primary-2, #FFFFFF);
}

.palette-two .header__search #search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline-2, #F4B841);
}

.palette-two .header__search-opener:hover g {
  stroke: var(--color-outline-2-hover, #F4B841CC);
}

.palette-two .header__search-opener:active g {
  stroke: var(--color-outline-2-active, #F4B841BA);
}

.palette-two .header__cart .fa-spinner-third {
  color: var(--color-primary-2, #FFFFFF);
}

#section-header .palette-two .app-mobile .weglot-widget__wrapper {
  border-color: var(--color-border-2, #FFFFFF47);
}

#section-header .palette-two .app-mobile .weglot-widget__wrapper:hover {
  border-color: var(--color-outline-2-hover, #F4B841CC);
}

#section-header .palette-two .app-mobile .weglot-widget__wrapper:active {
  border-color: var(--color-outline-2-active, #F4B841BA);
}

#section-header .palette-two .app-mobile .weglot-widget__wrapper:hover .weglot-widget__label {
  color: var(--color-outline-2-hover, #F4B841CC);
}

#section-header .palette-two .app-mobile .weglot-widget__wrapper:active .weglot-widget__label {
  color: var(--color-outline-2-active, #F4B841BA);
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown {
  border-color: var(--color-border-2, #FFFFFF47);
  box-shadow: 0 0 8px var(--color-border-2, #FFFFFF47);
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown:hover {
  border-color: var(--color-outline-2-hover, #F4B841CC);
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown:active {
  border-color: var(--color-outline-2-active, #F4B841BA);
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--up:before,
#section-header .palette-two .app-mobile .weglot-widget__dropdown--up:after {
  border-color: var(--background-primary-2, #0B1A26) transparent transparent transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--up:before {
  border-color: var(--color-border-2, #FFFFFF47) transparent transparent transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--up:hover:before {
  border-color: var(--color-outline-2-hover, #F4B841CC) transparent transparent transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--up:active:before {
  border-color: var(--color-outline-2-active, #F4B841BA) transparent transparent transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--down:before,
#section-header .palette-two .app-mobile .weglot-widget__dropdown--down:after {
  border-color: transparent transparent var(--background-primary-2, #0B1A26) transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--down:before {
  border-color: transparent transparent var(--color-border-2, #FFFFFF47) transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--down:hover:before {
  border-color: transparent transparent var(--color-outline-2-hover, #F4B841CC) transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--down:active:before {
  border-color: transparent transparent var(--color-outline-2-active, #F4B841BA) transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__item:hover {
  color: var(--color-outline-2-hover, #F4B841CC);
}

#section-header .palette-two .app-mobile .weglot-widget__item:active {
  color: var(--color-outline-2-active, #F4B841BA);
}

.palette-three .header__content {
  color: var(--color-primary-3, #0B1A26);
  background: var(--background-primary-3, #F4B841);
  border-bottom: 1px solid var(--color-border-3, #0B1A2626);
}

.palette-three .header__search-reset:after,
.palette-three .header__search-reset:before {
  background: var(--color-primary-3, #0B1A26);
}

.palette-three .header__search-reset:hover:after,
.palette-three .header__search-reset:hover:before {
  background: var(--color-outline-3-hover, #0B1A26CC);
}

.palette-three .header__search-reset:active:after,
.palette-three .header__search-reset:active:before {
  background: var(--color-outline-3-active, #0B1A26BA);
}

.palette-three .header__search-input {
  color: var(--color-primary-3, #0B1A26);
  background: var(--background-primary-3, #F4B841);
  border-bottom-color: var(--background-accent-3, #0B1A26);
  border-color: var(--background-accent-3, #0B1A26);
}

.palette-three .header__search-input::placeholder {
  color: var(--color-placeholder-3, #0B1A2659);
}

.palette-three .header__search-input:-webkit-autofill,
.palette-three .header__search-input:autofill {
  box-shadow: inset 0 0 0 150px var(--background-primary-3, #F4B841) !important;
}

.palette-three .header__search-icon g,
.palette-three .header__search-opener g {
  stroke: var(--color-primary-3, #0B1A26);
}

.palette-three .header__search #search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline-3, #0B1A26);
}

.palette-three .header__search-opener:hover g {
  stroke: var(--color-outline-3-hover, #0B1A26CC);
}

.palette-three .header__search-opener:active g {
  stroke: var(--color-outline-3-active, #0B1A26BA);
}

.palette-three .header__cart .fa-spinner-third {
  color: var(--color-primary-3, #0B1A26);
}

#section-header .palette-three .app-mobile .weglot-widget__wrapper {
  border-color: var(--color-border-3, #0B1A2626);
}

#section-header .palette-three .app-mobile .weglot-widget__wrapper:hover {
  border-color: var(--color-outline-3-hover, #0B1A26CC);
}

#section-header .palette-three .app-mobile .weglot-widget__wrapper:active {
  border-color: var(--color-outline-3-active, #0B1A26BA);
}

#section-header .palette-three .app-mobile .weglot-widget__wrapper:hover .weglot-widget__label {
  color: var(--color-outline-3-hover, #0B1A26CC);
}

#section-header .palette-three .app-mobile .weglot-widget__wrapper:active .weglot-widget__label {
  color: var(--color-outline-3-active, #0B1A26BA);
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown {
  border-color: var(--color-border-3, #0B1A2626);
  box-shadow: 0 0 8px var(--color-border-3, #0B1A2626);
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown:hover {
  border-color: var(--color-outline-3-hover, #0B1A26CC);
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown:active {
  border-color: var(--color-outline-3-active, #0B1A26BA);
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--up:before,
#section-header .palette-three .app-mobile .weglot-widget__dropdown--up:after {
  border-color: var(--background-primary-3, #F4B841) transparent transparent transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--up:before {
  border-color: var(--color-border-3, #0B1A2626) transparent transparent transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--up:hover:before {
  border-color: var(--color-outline-3-hover, #0B1A26CC) transparent transparent transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--up:active:before {
  border-color: var(--color-outline-3-active, #0B1A26BA) transparent transparent transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--down:before,
#section-header .palette-three .app-mobile .weglot-widget__dropdown--down:after {
  border-color: transparent transparent var(--background-primary-3, #F4B841) transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--down:before {
  border-color: transparent transparent var(--color-border-3, #0B1A2626) transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--down:hover:before {
  border-color: transparent transparent var(--color-outline-3-hover, #0B1A26CC) transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--down:active:before {
  border-color: transparent transparent var(--color-outline-3-active, #0B1A26BA) transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__item:hover {
  color: var(--color-outline-3-hover, #0B1A26CC);
}

#section-header .palette-three .app-mobile .weglot-widget__item:active {
  color: var(--color-outline-3-active, #0B1A26BA);
}

@media (min-width: 576px) {
  .header__search-wrapper {
    right: -25px;
    min-width: calc(100vw - 160px);
  }

  .header__mobile-menu-opener-left .header__search-wrapper {
    right: -5px;
  }
}

@media (min-width: 1100px) {
  .header__content--padding-top {
    padding-top: var(--padding-top, 0px);
  }

  .header__content--padding-bottom {
    padding-bottom: var(--padding-bottom, 0px);
  }

  .header__search-wrapper {
    min-width: 800px;
  }

  .header__search {
    margin: 0;
  }

  .header__cart {
    margin: 0 0 0 32px;
  }

  .header__cart:only-child {
    margin: 0;
  }

  .header__app:has(.app-desktop) {
    margin-right: 32px;
  }

  .header__app:has(.app-mobile) {
    display: none;
  }

  header:has(.app-mobile) .header__app:has(.app-desktop) {
    display: block;
  }

  #section-header .header__app [data-short-names="true"] {
    width: auto;
  }

  #section-header .header__app .weglot-widget__wrapper {
    border-radius: var(--border-radius-dynamic, 0);
    padding: 0;
    border: none;
  }

  #section-header .header__app .weglot-widget__label {
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  }

  #section-header .header__app .weglot-widget__dropdown {
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid var(--color-border, #0B1A2626);
    border-radius: var(--border-radius-rounded, 0);
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  }

  #section-header .header__app .weglot-widget__dropdown--up,
  #section-header .header__app .weglot-widget__dropdown--down {
    top: calc(100% + 11px);
    bottom: auto;
  }

  #section-header .header__app .weglot-widget__dropdown:before,
  #section-header .header__app .weglot-widget__dropdown:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: 0px;
    border-style: solid;
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  }

  #section-header .header__app .weglot-widget__dropdown--up:before,
  #section-header .header__app .weglot-widget__dropdown--up:after,
  #section-header .header__app .weglot-widget__dropdown--down:before,
  #section-header .header__app .weglot-widget__dropdown--down:after {
    bottom: 100%;
    border-width: 0 10px 10px 10px;
  }

  #section-header .header__app .weglot-widget__dropdown--up:before,
  #section-header .header__app .weglot-widget__dropdown--down:before {
    bottom: calc(100% + 1px);
  }

  #section-header .header__app .weglot-widget__item {
    white-space: nowrap;
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  }

  #section-header .palette-one .header__app .weglot-widget__label {
    color: var(--color-primary, #0B1A26);
  }

  #section-header .palette-one .header__app .weglot-widget__wrapper:hover .weglot-widget__label {
    color: var(--color-outline-hover, #F4B841CC);
  }

  #section-header .palette-one .header__app .weglot-widget__wrapper:active .weglot-widget__label {
    color: var(--color-outline-active, #F4B841BA);
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown {
    border-color: var(--color-border, #0B1A2626);
    background-color: var(--background-primary, #FFFFFF) !important;
    box-shadow: 0 0 8px var(--color-border, #0B1A2626);
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown:hover {
    border-color: var(--color-outline-hover, #F4B841CC);
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown:active {
    border-color: var(--color-outline-active, #F4B841BA);
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-one .header__app .weglot-widget__dropdown--up:after,
  #section-header .palette-one .header__app .weglot-widget__dropdown--down:before,
  #section-header .palette-one .header__app .weglot-widget__dropdown--down:after {
    border-color: transparent transparent var(--background-primary, #FFFFFF) transparent;
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-one .header__app .weglot-widget__dropdown--down:before {
    border-color: transparent transparent var(--color-border, #0B1A2626) transparent;
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown--up:hover:before,
  #section-header .palette-one .header__app .weglot-widget__dropdown--down:hover:before {
    border-color: transparent transparent var(--color-outline-hover, #F4B841CC) transparent;
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown--up:active:before,
  #section-header .palette-one .header__app .weglot-widget__dropdown--down:active:before {
    border-color: transparent transparent var(--color-outline-active, #F4B841BA) transparent;
  }

  #section-header .palette-one .header__app .weglot-widget__item {
    color: var(--color-primary, #0B1A26);
  }

  #section-header .palette-one .header__app .weglot-widget__item:hover {
    color: var(--color-outline-hover, #F4B841CC);
  }

  #section-header .palette-one .header__app .weglot-widget__item:active {
    color: var(--color-outline-active, #F4B841BA);
  }

  #section-header .palette-two .header__app .weglot-widget__label {
    color: var(--color-primary-2, #FFFFFF);
  }

  #section-header .palette-two .header__app .weglot-widget__wrapper:hover .weglot-widget__label {
    color: var(--color-outline-2-hover, #F4B841CC);
  }

  #section-header .palette-two .header__app .weglot-widget__wrapper:active .weglot-widget__label {
    color: var(--color-outline-2-active, #F4B841BA);
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown {
    border-color: var(--color-border-2, #FFFFFF47);
    background-color: var(--background-primary-2, #0B1A26) !important;
    box-shadow: 0 0 8px var(--color-border-2, #FFFFFF47);
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown:hover {
    border-color: var(--color-outline-2-hover, #F4B841CC);
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown:active {
    border-color: var(--color-outline-2-active, #F4B841BA);
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-two .header__app .weglot-widget__dropdown--up:after,
  #section-header .palette-two .header__app .weglot-widget__dropdown--down:before,
  #section-header .palette-two .header__app .weglot-widget__dropdown--down:after {
    border-color: transparent transparent var(--background-primary-2, #0B1A26) transparent;
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-two .header__app .weglot-widget__dropdown--down:before {
    border-color: transparent transparent var(--color-border-2, #FFFFFF47) transparent;
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown--up:hover:before,
  #section-header .palette-two .header__app .weglot-widget__dropdown--down:hover:before {
    border-color: transparent transparent var(--color-outline-2-hover, #F4B841CC) transparent;
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown--up:active:before,
  #section-header .palette-two .header__app .weglot-widget__dropdown--down:active:before {
    border-color: transparent transparent var(--color-outline-2-active, #F4B841BA) transparent;
  }

  #section-header .palette-two .header__app .weglot-widget__item {
    color: var(--color-primary-2, #FFFFFF);
  }

  #section-header .palette-two .header__app .weglot-widget__item:hover {
    color: var(--color-outline-2-hover, #F4B841CC);
  }

  #section-header .palette-two .header__app .weglot-widget__item:active {
    color: var(--color-outline-2-active, #F4B841BA);
  }

  #section-header .palette-three .header__app .weglot-widget__label {
    color: var(--color-primary-3, #0B1A26);
  }

  #section-header .palette-three .header__app .weglot-widget__wrapper:hover .weglot-widget__label {
    color: var(--color-outline-3-hover, #0B1A26CC);
  }

  #section-header .palette-three .header__app .weglot-widget__wrapper:active .weglot-widget__label {
    color: var(--color-outline-3-active, #0B1A26BA);
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown {
    border-color: var(--color-border-3, #0B1A2626);
    background-color: var(--background-primary-3, #F4B841) !important;
    box-shadow: 0 0 8px var(--color-border-3, #0B1A2626);
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown:hover {
    border-color: var(--color-outline-3-hover, #0B1A26CC);
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown:active {
    border-color: var(--color-outline-3-active, #0B1A26BA);
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-three .header__app .weglot-widget__dropdown--up:after,
  #section-header .palette-three .header__app .weglot-widget__dropdown--down:before,
  #section-header .palette-three .header__app .weglot-widget__dropdown--down:after {
    border-color: transparent transparent var(--background-primary-3, #F4B841) transparent;
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-three .header__app .weglot-widget__dropdown--down:before {
    border-color: transparent transparent var(--color-border-3, #0B1A2626) transparent;
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown--up:hover:before,
  #section-header .palette-three .header__app .weglot-widget__dropdown--down:hover:before {
    border-color: transparent transparent var(--color-outline-3-hover, #0B1A26CC) transparent;
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown--up:active:before,
  #section-header .palette-three .header__app .weglot-widget__dropdown--down:active:before {
    border-color: transparent transparent var(--color-outline-3-active, #0B1A26BA) transparent;
  }

  #section-header .palette-three .header__app .weglot-widget__item {
    color: var(--color-primary-3, #0B1A26);
  }

  #section-header .palette-three .header__app .weglot-widget__item:hover {
    color: var(--color-outline-3-hover, #0B1A26CC);
  }

  #section-header .palette-three .header__app .weglot-widget__item:active {
    color: var(--color-outline-3-active, #0B1A26BA);
  }
}

@media (min-width: 1100px) and (hover: hover) {
  .header__content-inner {
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: "column-1 column-2 column-3";
    gap: 0px;
  }

  .header__content-inner.header__menu-position--centered {
    grid-template-columns: calc(var(--grid-item-width, 200px) + var(--grid-item-gap, 24px)) 1fr calc(var(--grid-item-width, 200px) + var(--grid-item-gap, 24px));
  }

  .header__logo-wrapper:not(:empty) {
    margin-right: var(--grid-item-gap, 24px);
  }

  .header__links:not(:empty) {
    margin-left: var(--grid-item-gap, 24px);
  }

  .header__search-wrapper {
    right: -5px;
  }

  .header__search-input-wrapper ~ .header__search-reset {
    opacity: 0;
    visibility: hidden;
  }

  .header__search-input-wrapper.filled ~ .header__search-reset {
    opacity: 1;
    visibility: visible;
  }

  .header__mobile-menu-opener-left,
  .header__mobile-menu-opener-right,
  .header__mobile-menu-opener-left .header__nav-wrapper,
  .header__mobile-menu-opener-right .header__nav-wrapper {
    margin: 0;
  }

  .header-logo-centered .header__content-inner {
    grid-template-columns: 1fr max-content 1fr;
    grid-template-areas:
      "column-2 column-1 column-3";
  }

  .header-logo-centered .header__logo-wrapper {
    margin: 0 var(--grid-item-gap, 24px);
  }

  .header-menu-bottom .header__content-inner {
    grid-template-columns: calc(var(--grid-item-width, 200px) + var(--grid-item-gap, 24px)) 1fr;
    grid-template-areas:
      "column-1 column-3"
      "column-2 column-2";
  }

  .header-menu-bottom .header__search {
    flex-grow: 1;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 640px;
  }

  .header-menu-bottom .header__search-wrapper {
    display: block !important;
    position: static;
    padding: 0;
    width: 100%;
    min-width: auto;
    transform: translate(0, 0);
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transition: none;
  }

  .header-menu-bottom .header__search-opener {
    display: none;
  }

  .header-menu-bottom .header__search-input {
    padding-right: 12px;
  }

  .header-menu-bottom .header__logo-wrapper {
    padding: 0 0 16px;
  }

  .header-menu-bottom .header__links {
    justify-content: flex-end;
    padding: 0 0 16px;
    margin: 0;
    position: relative;
  }

  .header-menu-bottom .header__links.header__links--with-search {
    justify-content: space-between;
  }

  .header-menu-bottom .header__links.header__links--with-search:not(.header__links--with-cart) {
    padding-right: calc(var(--grid-item-width, 200px) + var(--grid-item-gap, 24px));
  }

  .header-menu-bottom .header__nav-wrapper {
    height: auto;
  }

  .header-menu-bottom .header__links:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 9999px;
    left: 50%;
    top: 100%;
    z-index: 1;
    transform: translate(-50%, 0);
  }

  .header-menu-bottom .header__cart {
    flex: 0 0 var(--grid-item-width, 200px);
    margin: 0 0 0 var(--grid-item-gap, 24px);
    justify-content: flex-end;
  }

  .header__mobile-menu-opener-left .header__links:not(.header__links--with-cart) .header__search-wrapper,
  .header__mobile-menu-opener-right .header__links:not(.header__links--with-cart) .header__search-wrapper {
    right: 0;
  }

  .palette-one.header-menu-bottom .header__search-input {
    border-color: var(--color-primary, #0B1A26);
  }

  .palette-one.header-menu-bottom .header__search-input:focus {
    border-color: var(--background-accent, #F4B841);
  }

  .palette-one.header-menu-bottom .header__links:before {
    background: var(--color-border, #0B1A2626);
  }

  .palette-two.header-menu-bottom .header__search-input {
    border-color: var(--color-primary-2, #FFFFFF);
  }

  .palette-two.header-menu-bottom .header__search-input:focus {
    border-color: var(--background-accent-2, #F4B841);
  }

  .palette-two.header-menu-bottom .header__links:before {
    background: var(--color-border-2, #FFFFFF47);
  }

  .palette-three.header-menu-bottom .header__search-input {
    border-color: var(--color-primary-3, #0B1A26);
  }

  .palette-three.header-menu-bottom .header__search-input:focus {
    border-color: var(--background-accent-3, #0B1A26);
  }

  .palette-three.header-menu-bottom .header__links:before {
    background: var(--color-border-3, #0B1A2626);
  }
}
