.images__wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: stretch;
}

.images__container {
  min-height: 515px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.images__container--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.images__container--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.images__text-area {
  flex: 1 1 auto;
  display: flex;
  justify-content: var(--text-justify-content-mobile, flex-start);
  align-items: var(--text-align-items-mobile, flex-start);
  text-align: var(--text-align-mobile, left);
  margin: 0 var(--margin-right-mobile) 0 var(--margin-left-mobile);
}

.images__text-area.images__text-area--max-width {
  max-width: 600px;
}

.images__text-area.images__text-area--color {
  color: var(--color-overlay, #FFFFFF);
}

.images__title {
  font-size: var(--font-size-h2, 48px);
}

.images__title * {
  font-family: var(--font-heading, sans-serif);
}

.images__description:not(:last-child) {
  padding: 0 0 38px;
}

.images__description:last-child {
  padding-bottom: 0;
}

.images__buttons {
  margin: 0 -8px calc(-1 * var(--button-margin-bottom, 16px));
}

.images__button {
  margin-left: 8px;
  margin-right: 8px;
}

.images__vision {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.images__vision-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: calc(var(--max-width) - var(--horizontal-padding) * 2);
  margin: 0 auto;
}

.images__vision-wrapper--desktop {
  display: none;
}

.images__vision-wrapper--overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: var(--opacity-overlay, 100%);
  background: linear-gradient(357.73deg, var(--background-overlay, #0B1A26) 3.03%, var(--background-overlay-00, #0B1A2600) 31.83%),
   linear-gradient(180deg, var(--background-overlay, #0B1A26) 6.67%, var(--background-overlay-00, #0B1A2600) 105.81%),
   linear-gradient(0deg, var(--background-overlay-45, #0B1A2673), var(--background-overlay-45, #0B1A2673));
}

.images__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.images__vision--video {
  container: images-vision / size;
}

.images__video {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  max-width: none;
  object-fit: cover;
}

.images .carousel__wrapper {
  padding-bottom: 0;
  width: 100%;
  margin: 0;
  scroll-padding: 0;
}

.images__wrapper-full-width .images__vision-wrapper {
  max-width: none;
}

.images__date-picker:not(:last-child) {
  margin-bottom: 36px;
}

.images__wrapper .date-picker__instance {
  max-width: 400px;
  margin-left: var(--margin-left-mobile);
  margin-right: var(--margin-right-mobile);
}

.images__wrapper .date-picker__title {
  justify-content: var(--text-justify-content-mobile, flex-start);
}

.images__wrapper.section-with-date-picker .images__container--padding-bottom {
  padding-bottom: calc(var(--padding-bottom-mobile, 40px) + var(--date-picker-block-height, 70px));
}

.images__wrapper.section-with-date-picker .images__vision {
  bottom: calc(var(--date-picker-height, 70px) / 2 - 5px);
}

.palette-one .images__title,
.palette-one .images__description {
  color: var(--color-primary, #0B1A26);
}

.palette-one .images__vision {
  background: var(--background-primary, #FFFFFF);
}

.palette-two .images__title,
.palette-two .images__description {
  color: var(--color-primary-2, #FFFFFF);
}

.palette-two .images__vision {
  background: var(--background-primary-2, #0B1A26);
}

.palette-three .images__title,
.palette-three .images__description {
  color: var(--color-primary-3, #0B1A26);
}

.palette-three .images__vision {
  background: var(--background-primary-3, #F4B841);
}

.palette-one .images__text-area--color .images__title,
.palette-one .images__text-area--color .images__description,
.palette-one .images__text-area--color .images__buttons .button--outlined,
.palette-two .images__text-area--color .images__title,
.palette-two .images__text-area--color .images__description,
.palette-two .images__text-area--color .images__buttons .button--outlined,
.palette-three .images__text-area--color .images__title,
.palette-three .images__text-area--color .images__description,
.palette-three .images__text-area--color .images__buttons .button--outlined {
  color: currentColor;
}

@media (min-width: 428px) {
  .images__container {
    min-height: 560px;
  }
}

@media (min-width: 768px) {
  .images__vision-wrapper--desktop {
    display: block;
  }

  .images__vision-wrapper--mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .images__container {
    min-height: calc(var(--height, auto) - var(--header-height, 105px));
  }

  .images__container--padding-top {
    padding-top: var(--padding-top, 0);
  }

  .images__container--padding-bottom {
    padding-bottom: var(--padding-bottom, 0);
  }

  .images__vision-wrapper {
    display: block;
  }

  .images__vision-wrapper--mobile {
    display: none;
  }

  .images__text-area {
    justify-content: var(--text-justify-content, flex-start);
    align-items: var(--text-align-items, center);
    text-align: var(--text-align, left);
    margin: 0 var(--margin-right) 0 var(--margin-left);
  }

  .images__title {
    font-size: calc(var(--font-size-h1, 56px) + 1rem);
  }

  .images__description {
    padding-left: var(--padding-left, 0px);
    padding-right: var(--padding-right, 0px);
  }

  .images__wrapper .date-picker__instance {
    margin-left: var(--margin-left, auto);
    margin-right: var(--margin-right, auto);
  }

  .images__wrapper .date-picker__title {
    justify-content: var(--text-justify-content, flex-start);
  }

  .images__wrapper.section-with-date-picker .images__container {
    min-height: calc(var(--height, auto) - var(--header-height, 105px) + var(--date-picker-block-height, 70px) + var(--padding-bottom, 0px));
  }

  .images__wrapper.section-with-date-picker .images__container--padding-bottom {
    padding-bottom: calc(var(--padding-bottom, 0px) + var(--date-picker-block-height, 70px));
  }
}

@media (min-width: 1248px) {
  .images__text-area {
    padding: 0 var(--padding-no-full-width, 56px);
  }

  .images__wrapper.section-with-date-picker .date-picker__container {
    padding-left: calc(var(--padding-no-full-width, 56px) + var(--horizontal-padding, 16px));
    padding-right: calc(var(--padding-no-full-width, 56px) + var(--horizontal-padding, 16px));
  }

  .images__wrapper-full-width .images__text-area {
    padding: 0;
  }

  .images__wrapper.section-with-date-picker.images__wrapper-full-width .date-picker__container {
    padding-left: var(--horizontal-padding, 16px);
    padding-right: var(--horizontal-padding, 16px);
  }
}

@container (aspect-ratio > 16 / 9) {
  .images__vision--video .images__video {
    width: 100%;
    height: auto;
  }
}

@container (aspect-ratio <= 16 / 9) {
  .images__vision--video .images__video {
    width: auto;
    height: 100%;
  }
}
