.text__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 24px);
}

.text__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0px);
}

.text__wrapper {
  text-align: var(--text-align, left);
}

.palette-one.text__wrapper {
  background: var(--background-primary, #FFFFFF);
  color: var(--color-secondary, #4E5D78);
}

.palette-one .text__title {
  color: var(--color-primary, #0B1A26);
}

.palette-two.text__wrapper {
  background: var(--background-primary-2, #0B1A26);
  color: var(--color-secondary-2, #E1E4E8);
}

.palette-two .text__title {
  color: var(--color-primary-2, #FFFFFF);
}

.palette-three.text__wrapper {
  background: var(--background-primary-3, #F4B841);
  color: var(--color-secondary-3, #FFFFFF);
}

.palette-three .text__title {
  color: var(--color-primary-3, #0B1A26);
}

@media (min-width: 992px) {
  .text__wrapper--padding-top {
    padding-top: var(--padding-top, 37px);
  }

  .text__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 0px);
  }
}
